header {
    background-color: blueviolet;
    height: 3.125em;
    flex-shrink: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

html, body {
    height: 100%;
    margin: 0;
}

img {
    width: 2.5em;
    height: 2.5em;
    margin-top: 0.375em;
    margin-left: 0.3125em;
}

.logo {
    margin-top: 1.25em;
    margin-left: 0.3125em;
}

.environment {
    flex: 1;
    display: flex;
    min-height: 0;
}

.environment > section {
    height: 100%;
    min-height: 0;
}

.environment__code-editor {
    flex: 7.5 0 0;
    position: relative;
    overflow: hidden;
}

.environment__block-palette {
    overflow-y: auto;
    overflow-x: hidden;
}

.environment__console {
    flex-grow: 2;
}

.block,
.environment__branch {
    box-sizing: border-box;
}

.block {
    background-color: #ffd54f;
    border: 0.0625em solid black;
    border-radius: 0.5em;
    margin: 0;
    cursor: grab;
    user-select: none;
    padding: 0.125em;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.375em;
    width: fit-content;
    height: fit-content;
}

.horizontal-branch-alignment {
    flex-direction: row;
}

.vertical-branch-alignment {
    flex-direction: column;
    align-items: stretch;
    gap: 0.25em;
}

.vertical-branch-alignment > .environment__operation {
    text-align: center;
}

.vertical-branch-alignment .environment__branch {
    align-self: center;
}

.environment__operation {
    pointer-events: none;
}

.category {
    font-size: 2em;
    font-weight: bold;
    opacity: 0.7;
    margin: 1.5625em 0 0 0.625em;
    user-select: none;
}

.environment__code-editor > .block {
    position: absolute;
}
.block.error-highlight {
    background-color: #ef9a9a;
}

.environment__if-block,
.environment__for-block,
.environment__while-block {
    background-color: #ff9800;
}

.environment__if-block.error-highlight,
.environment__for-block.error-highlight,
.environment__while-block.error-highlight {
    background-color: #f44336;
}

.environment__branch {
    border-radius: 0.5em;
    padding: 0.0625em;
    min-width: 1.75em;
    min-height: 1.25em;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
}

.environment__branch:empty {
    width: 1.75em;
    height: 1.25em;
}

.environment__branch.highlight {
    outline: 0.125em dashed orange;
}

.environment__input-number {
    width: 3em;
    border-radius: 0.5em;
}

input[type="checkbox"].environment__input-number {
    width: 1.35em;
    height: 1.35em;
}

.centered {
    text-align: center;
}
.container {
    border: 0.0625em solid;
}

.console_output {
    margin-left: 0.1875em;
}

.console_input-wrapper {
    margin-left: 0.1875em;
}
.console_input {
    border: none;
    outline: none;
}
